{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <table class="table">
  <thead>
    <tr>

      <th scope="col">اسم الطالب</th>
      <th scope="col">القسم</th>
      <th scope="col">المعدل التراكمي</th>
      <th scope="col">جهة التدريب</th>

    </tr>
  </thead>
  <tbody>

    {% for u in users %}


    <tr>

      <td>{{u.username}}</td>
      <td>{{u.getSection()}}</td>
      <td>{{u.getGpa()}}</td>
      <td>{{u.getInstituteName()}}</td>

    </tr>
    {% endfor%}

  </tbody>
</table>


</div>
{% endblock content %}
