{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<form  method="post" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">تحديث البيانات</legend>
    <div class="form-group">
        {{ form.section.label(class="form-control-label") }}
        {% if form.section.errors %}
            {{ form.section(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.section.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.section(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.passHours.label(class="form-control-label") }}
        {% if form.passHours.errors %}
            {{ form.passHours(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.passHours.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.passHours(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.gpa.label(class="form-control-label") }}
        {% if form.gpa.errors %}
            {{ form.gpa(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.gpa.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.gpa(class="form-control form-control-lg") }}
        {% endif %}
    </div>

    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>

</form>
  </div>
{% endblock content %}
